html,
body {
  background-color: #111;
  color: #f5f5f5;
}

.my-masonry-grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: -30px;
  width: auto;
}
.my-masonry-grid_column {
  padding-left: 30px;
  background-clip: padding-box;
}

.my-masonry-grid_column > div {
  background-color: #000;
  padding: 20px;
  margin: 20px 5px;
  border-radius: 10px;
}

.App {
  padding: 20px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.news-url {
  color: #f5f5f5;
  text-decoration: none;
  text-align: justify;
}

.news-url:hover {
  color: #f5f5f5;
  text-decoration: underline;
}

.news-item-container {
  padding-left: 0;
}

.news-item {
  margin: 20px 0;
  list-style: none;
}

.rating-value {
 font-weight: bold;
 color: #000;
 padding: 1px 5px;
 border-radius: 1px;
 margin-right: 10px;
}

.top-rated {
  background-color: #FF5733;
}

.not-top-rated {
  background-color: #2ECC71;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
